body * {
	border-radius: 0px !important;
}

body {
	background-color: #555555;
}

.page-list {
	list-style: none;
	font-size: 20px;
	margin: 0px;
	padding: 0;
}

.page-list-item-time {
    visibility: hidden;
}
